# Setup

In [9]:
import pandas as pd
import os

## Import variables

In [20]:
samples_file = "../../data/20210118_paramaters.csv"

## Load samples file

In [25]:
samples = pd.read_csv (samples_file, comment="#", skip_blank_lines=True, index_col=0)

In [26]:
samples

,vid_length,int_floor,int_ceiling,area_floor,area_ceiling,test_line
sample,,,,,,
20190611_1331_icab_icab_R_q1_novel_object,18566,0,175,80,450,icab
20190611_1331_icab_icab_R_q1_open_field,18277,0,175,80,450,icab
20190611_1331_icab_icab_R_q2_novel_object,18566,0,175,80,450,icab
20190611_1331_icab_icab_R_q2_open_field,18277,0,175,80,450,icab
20190611_1331_icab_icab_R_q3_novel_object,18566,0,175,80,450,icab
...,...,...,...,...,...,...
20190616_1717_icab_icab_L_q2_open_field,18278,0,175,80,450,icab
20190616_1717_icab_icab_L_q3_novel_object,18278,0,175,80,450,icab
20190616_1717_icab_icab_L_q3_open_field,18278,0,175,80,450,icab
20190616_1717_icab_icab_L_q4_novel_object,18278,0,175,80,450,icab
20190616_1717_icab_icab_L_q4_open_field,18278,0,175,80,450,icab

In [ ]:
for sample in